<div class="container py-4">
    <div class="row justify-content-center">
        <div class="text-center footer-wrapper">
            <div class="mb-2 text-nowrap d-flex justify-content-center gap-2 flex-column flex-md-row flex-wrap footer-links">
                <a href="/docs/privacy/" target="_blank" class="text-muted small me-3 text-wrap">Политика конфиденциальности</a>
                <a href="/docs/personal-data/" target="_blank" class="text-muted small me-3 text-wrap">Согласие на обработку персональных данных</a>
                <a href="/docs/marketing-consent/" target="_blank" class="text-muted small text-wrap">Согласие на получение рекламных рассылок (материалов)</a>
            </div>
        </div>
    </div>
</div>