<section id="steps" class="py-0 py-sm-5">
  <div class="container bg-transparent">
    <h3 class="text-center bg-transparent">Как проходит обучение</h3>
    <div class="bg-transparent row justify-content-center px-3 py-5">
      <div class="col-sm-12 col-md-12 col-lg-8 content">
        <ol>
          <li>Бесплатная консультация. Наш первый совместный шаг в обучении. На консультации мы познакомимся, я узнаю
            ваш уровень, цели и запросы, а также покажу интерактивную платформу, на которой мы будем заниматься.</li>
          <li>Создание личного кабинета и вашей индивидуальной карты прогресса.</li>
          <li>Начало обучения. В ходе обучения мы будем отслеживать ваш прогресс и сможем корректировать запросы.</li>
        </ol>
      </div>
    </div>
  </div>
</section>